.alert-custom{
    color: #fff;
    background-color: #5f6477;
    border-color: #3c3f4c;
    max-height: 250px;
    overflow-y: scroll;
}
#spinner{
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}
.alert p{
    font-size: 13px;
    margin: 5px 0px !important;
}
.btn-green{
    background: #00ce9b;
    color: #fff;
    border-color: #00b88b;
}
.btn-lightGrey{
    background: #e9e9e9;
    color: #484848;
    border-color: #e9e9e9;
}
.btn-green:hover{
    color: #fcfcfc;
}
/*.card-body{*/
/*    color: #fff;*/
/*    background-color: #5f6477;*/
/*    border-color: #3c3f4c;*/
/*}*/
/*.card-header{*/
/*    color: #fff;*/
/*    background-color: #5f6477;*/
/*    border-color: #3c3f4c;*/
/*}*/
/*.form-label{*/
/*    color: #fff;*/
/*}*/

.configuration{
    color: #fff;
    background-color: #5f6477;
    border-color: #3c3f4c;
}

/*.configuration input{*/
/*    background: #434656;*/
/*    color: #fff;*/
/*}*/

/*.configuration input:focus{*/
/*    background: #31364e;*/
/*    color: #fff;*/
/*}*/

.configuration .form-label{
    color: #fff;
}
.configuration .card-header{
    border-bottom: 1px solid rgb(253 253 253 / 24%);
}

.checkCard{
    border: 1px solid #bebdbd;
    border-radius: 6px;
    margin: 10px 0;
    padding: 6px 35px;
    font-weight: 400;
    box-shadow: 0 0 5px 1px rgb(169 169 169 / 23%);

    /*light grey*/
    /*background: #e8e7e7;*/

    /*white*/
    background: #fff;

    /*dark grey*/
    /*background: #5f6477;*/
    /*color: #fff;*/

    /*green*/
    /*background: #00ce9b;*/
}

.formCard .card-body{
    /*dark*/
    /*background: #494d5f;*/

    /*light grey*/
    /*background: #fbfbfb;*/


    background: #eaeaea;

}

.formCard .card-header{

    /*light*/
    /*background: #fbfbfb;*/

    /*dark grey*/
    /*background: #373b4e;*/
    /*color: #fff;*/
    /*border-bottom: 1px solid #9d9d9d;*/
}